In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
!pip install python-firebase

Collecting python-firebase
  Downloading https://files.pythonhosted.org/packages/32/e6/88b799753e64aeb0f24040b98c94012994cf9517c889dee4f8a49ac89400/python-firebase-1.2.tar.gz
Requirement already satisfied: requests>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from python-firebase) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->python-firebase) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->python-firebase) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->python-firebase) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->python-firebase) (2020.6.20)
Building wheels for collected packages: python-firebase
  Building wheel for python-firebase (setup.py) ... done
  Created wheel for python-firebase: filename=python_firebase-1.2-cp36-none-any.whl size=11533 sha256=cca31733ca57cc74ba48670f11c91253cde1b65b95e610845d4521cc088bb896
  Stored in directory: /root/.cache/pip/wheels/ba/40/ca/e41a25d7abb787092e837cb0f91f33b04b1a8fd9d17c2d33a6
Successfully built python-firebase
Installing collected packages: python-firebase
Successfully installed python-firebase-1.2

In [10]:
major_categories = ['Id', 'Weight', 'Height', 'Blood_Group', 'PMD', 'Tattoos', 'Alcohol', 'Smoker', 'Age', 'Haemoglobin', 'Sports/gym', 'Sleeping_hours', 'Average_pulse_rate', 'fears' ]
PMD_categories = ['Jaundice', 'Cardiac', 'Diabetes', 'Anemia', 'Blood Pressure']
Drinking_alc =['daily', 'regular', 'occasional']
fears = ['Needles', 'Blood']

In [11]:
datatable= pd.DataFrame(data=[], columns= major_categories)
datatable.loc[0]=[10001]+[67]+[170]+['B+']+['No']+['No'] + ['No']+['No']+[21]+[13.8]+["Yes"]+ [6]+[72]+[None]
datatable

      Id Weight Height  ... Sleeping_hours Average_pulse_rate fears
0  10001     67    170  ...              6                 72  None

[1 rows x 14 columns]